fastapi
uvicorn
python-multipart
langgraph
langchain
langchain-openai
llama-index
llama-index-embeddings-huggingface
deepgram-sdk
python-dotenv
streamlit>=1.40.0
sqlalchemy
psycopg2-binary
boto3
pinecone-client 
llama-index-vector-stores-pinecone
torch
transformers
librosa
numpy
sentence-transformers
scikit-learn
spacy
pypdf2
langchain-groq
celery
redis
